// Fonts
$font-family-body = "Noto Sans CJK SC", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif
$font-family-mono = "JetBrains Mono", "SF Mono", "Fira Code", "Menlo", "Meslo LG", "Sarasa Term SC", "Inconsolata", "Monaco", "Source Code Pro", "Input", "Consolas", "Courier New", monospace
$font-size = 16px
$line-height = 1.25
$page-width = 0rem + (hexo-config("page_width") || 39)
// Logo
$logo-width = 0px + (hexo-config("logo.width") || 0)
$logo-height = 0px + (hexo-config("logo.height") || 0)
$logo-grayout = hexo-config("logo.grayout") || false
// Colors
$colors = hexo-config("colorscheme") || "dark"
